# OpenShift values for Couchbase Helm chart
# See: https://docs.couchbase.com/operator/current/helm-setup-guide.html
#
# Install operator + admission controller only; CouchbaseCluster is managed by manifests in argocd/manifests/couchbase/cluster.

install:
  couchbaseOperator: true
  admissionController: true
  couchbaseCluster: false
  syncGateway: false

couchbaseOperator:
  image:
    repository: registry.connect.redhat.com/couchbase/operator
    tag: "2.9.0"

admissionController:
  image:
    repository: registry.connect.redhat.com/couchbase/admission-controller
    tag: "2.9.0"
