# OpenShift values for Couchbase Helm chart
# See: https://docs.couchbase.com/operator/current/helm-setup-guide.html
#
# Install operator + admission controller in couchbase-operator namespace; they use ClusterRole
# scope to manage all couchbase-* namespaces. CouchbaseCluster resources live in cluster overlays.

install:
  couchbaseOperator: true
  admissionController: true
  couchbaseCluster: false
  syncGateway: false

couchbaseOperator:
  scope: ClusterRole  # Manage CouchbaseCluster and related resources in all namespaces (couchbase-*)
  image:
    repository: registry.connect.redhat.com/couchbase/operator
    tag: "2.9.0"

admissionController:
  scope: ClusterRole  # Validate Couchbase resources in all namespaces
  image:
    repository: registry.connect.redhat.com/couchbase/admission-controller
    tag: "2.9.0"

# if the API server still reports "certificate signed by unknown authority" (patched caBundle is ignored by Argo via ignoreDifferences).
admissioController:
  disableValidatingWebhook: true
